.container {
    max-width: 40rem;
    padding: 0 1rem;
    margin: 2rem auto 6rem;    
    background: none;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 0%;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  .order {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    display: inline-block;
    margin-left: 20px;
  }  